
.blurcircleone{
    animation-name: blurone;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    top: 30px;
    left: 50px;
    z-index: -1;
}
@keyframes blurone {
    0%,100%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 20%;
        left: 40%;
    }
    50%{
        top: 60%;
        left: 20%;
    } 
}
.blurcircletwo{
    animation-name: blurtwo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    bottom: 60px;
    right: 20px;
    z-index: -1;
}
@keyframes blurtwo {
    0%,100%{
        bottom: 0%;
        right: 0%;
    }
    25%{
        bottom: 20%;
        right: 40%;
    }
    50%{
        bottom: 80%;
        right: 10%;
    } 
}